OPENAI_API_KEY="YOUR_API_KEY"
LANGCHAIN_CALLBACKS_BACKGROUND=false

# Auth0 configuration
AUTH0_SECRET="use [openssl rand -hex 32] to generate a 32 bytes value"
APP_BASE_URL="{codespaceDomain}"
AUTH0_DOMAIN="{yourDomain}"
AUTH0_CLIENT_ID="{yourClientId}"
AUTH0_CLIENT_SECRET="{yourClientSecret}"
